<!--The content below is only a placeholder and can be replaced.-->
<h2>User Form</h2>

<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" minlength="6" maxlength="12" required name="name" #name="ngModel" ngModel/>
        <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
            <div [hidden]="!name.errors.required">
                Name is requied
            </div>
            <div [hidden]="!name.errors.minlength">
                Name ít nhất 6 ký tự
            </div>

        </div>

    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" name="email" ngModel/>

    </div>

    <div class="form-group">
        <label>Street</label>
        <input type="text" class="form-control" name="street" ngModel />

    </div>
    <div class="form-group">
        <label>City</label>
        <select type="text" class="form-control" required name="cityName" ngModel > 
            <option *ngFor="let city of cities" [value]="city.Id">{{city.Name}}

            </option>

        </select>

    </div>
    <div class="form-group">
        <label>Code</label>
        <input type="text" pattern="^[1-9][0-9]{4}$" class="form-control" name="code" #code="ngModel" ngModel />
        <div *ngIf="code.errors && (code.dirty || code.touched)" class="alert alert-danger">
            <div [hidden]="!code.errors.pattern">
                Code phải 5 số.
            </div>
           

        </div>


    </div>

    <button type="submit" [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>

</form>